pkgbase = xlibre-video-vmware
	pkgdesc = XLibre vmware video driver
	pkgver = 13.4.0.2
	pkgrel = 1
	url = https://github.com/X11Libre/xf86-video-vmware
	arch = aarch64
	arch = x86_64
	groups = xlibre-drivers
	license = MIT AND X11
	makedepends = xlibre-xserver-devel
	makedepends = xorgproto
	makedepends = X-ABI-VIDEODRV_VERSION=28.0
	depends = mesa
	depends = systemd-libs
	depends = libxext
	depends = libx11
	depends = libdrm
	depends = glibc
	provides = xf86-video-vmware
	conflicts = xf86-video-vmware
	conflicts = xorg-server<1.20.0
	conflicts = X-ABI-VIDEODRV_VERSION<28
	conflicts = X-ABI-VIDEODRV_VERSION>=29
	options = !emptydirs
	options = !debug
	source = xf86-video-vmware-xlibre-xf86-video-vmware-13.4.0.2.tar.gz::https://github.com/X11Libre/xf86-video-vmware/archive/refs/tags/xlibre-xf86-video-vmware-13.4.0.2.tar.gz
	b2sums = 24e8544b70f52b7433bd76d2ce5c88b7227c78b9e09eb6d0db7c7309b73951c77c71892e6e1124463044f84a2df58e2cb931092a2f5d0ec03db8cc166da7f6a1

pkgname = xlibre-video-vmware
